{% extends 'news/base.html' %}
{% block 'title' %}
    Detail {{new.id}}
{% endblock %}

{% block 'content' %}

<h3>
    {{new.title}}
</h3>
<p>
    {{new.content}}
</p>
<p>
    {{new.created_at}}
</p>

<h4>Comments</h4>
<ul>
    {% for comment in comments %}
        <li>
            <h5>{{comment.content}}</h5>
            <p>{{comment.created_at}}</p>
        </li>
    {% endfor %}
</ul>

<form action="{% url 'detail' new.id %}" method="post">
    {% csrf_token %}
    Content: <input type="text" name="content">
    <input type="submit" value="Submit">
</form>

<a href="{% url 'edit' new.id%}"> EDIT </a>
<br>
<a href="{% url 'news'%}">All news</a>


{% endblock %}


